* {
  margin: 0;
  padding: 0;
}

body {

}

audio {
  width: inherit;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.comment-wall {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.comment-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
}

#comment-text {
  width: inherit;
}

#comment-form {
  width: inherit;
  display: flex;
  flex-flow: column;
}

#play-button {
  width: 100px;
}

#pause-button {
  width: 100px;
}
